#page{
    height: 100%;
    width: auto;
   margin : 0 15%;
   padding: 7% 7% 0 7%;
    /* border: 1px solid black; */
    background-color:white;
}

#white{
    height: 100%;
    width: fit-content;
    padding: 10%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 15%;
    border-radius: 60% 50% 80% 50%;
    background-color: white;
    box-shadow: 5px 8px 15px 5px rgb(203, 200, 200)inset;
    box-shadow: 8px 10px 10px 5px rgb(196, 190, 190) outset;
    
}

#white input{
    padding: 5%;
    margin: 10%;
    background-color:rgb(248, 239, 239);
    border-color: rgb(251, 247, 250);
    border-radius: 20%;
    box-shadow: 10px 7px 2px 2px rgb(231, 228, 231) inset;

}
#white button{
    padding: 5%;
    background-color: rgb(155, 241, 241);
    border: 1px solid white;
    border-radius: 30%;
    box-shadow: 10px 10px 5px rgb(203, 241, 241) inset;
}
#blue{
    height: 100%;
    width: fit-content;
    padding: 6%;
    text-align: center;
    position: relative;
    bottom: 350px;
    left: 70%;
    border-radius:40% 70% 20% 60%;
    background-color:rgb(241, 241, 110);
    box-shadow: 5px 8px 15px  rgb(142, 142, 131) ;
    /* box-shadow: 5px 8px 15px 5px rgb(170, 173, 174); */
    
    
}

#blue button{
    padding: 10% 50%;
    margin: 5%;
    background-color:rgb(241, 241, 132);
    border-radius: 30% 20%; 
    box-shadow: 3px 3px 10px  rgb(185, 185, 160) inset;
    border: 1px solid rgb(247, 247, 105);

}

#green{
    height: 100%;
    width: fit-content;
    padding: 9%;
    text-align: center;
    position: relative;
    bottom: 200px;
    left: 60%;
    border-radius:30% 60% 50% 80%;
    background-color:rgb(245, 131, 224);
    box-shadow: 5px 5px 15px 5px rgb(156, 147, 155); 
}

#green button{
    padding: 5% 50%;
    margin: 5% ;
    background-color:rgb(248, 120, 244);
    border-radius: 30% 20%; 
    box-shadow: 3px 3px 10px  rgb(248, 232, 248) inset;
    border: 1px solid rgb(242, 114, 219);
    
}